* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #0f3047;
  /*  color: #091540;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    */
}

nav{
    display:flex;
    background-color: whitesmoke;
    justify-content: space-around;
    padding:20px 0;
    color:#0f3047;

    align-items: center;
}
nav.logo{
    letter-spacing: 3px;
}
nav ul{
    display:flex;
    list-style: none;
    width:40%;
    justify-content: space-between;
}
nav ul li a {
    color:#0f3047;
    text-decoration: none;
    font-size: 1em;
    font-weight: 800;
}

img{
    visibility: hidden;
    max-width: 100px;
   }
.btn{
    border-radius: 40px;
}
/*Hamburger */
.menu-bars{
    display:none;
    flex-direction: column;
    height:20px;
    justify-content: space-between;
    position:relative;
}
.menu-bars input{
    position: absolute;
    width:40px;
    height:28px;
    left:-5px;
    top:-3px;
    opacity: 0;
    cursor:pointer;
    z-index: 2;
}

.menu-bars span{
    display:block;
    width:28px;
    height:3px;
    background-color: #0f3047;
    border-radius: 3px;
    transition: all 0.3s;
}

.menu-bars span:nth-child(2){
    transform-origin: 0 0 ;
}

.menu-bars span:nth-child(4){
    transform-origin: 0 100% ;
}

.menu-bars input:checked ~ span:nth-child(2){
    background-color: #0f3047;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-bars input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0);
}

.menu-bars input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}


@media only screen and (max-width: 768px){
    nav ul{
        width:50%;
    }

}

@media only screen and (max-width: 576px){
    .menu-bars{
        display:flex;
    }
    nav ul{
        position:absolute;
        right:0;
        top:0;
        width:80%;
        height:100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #0f3047;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }
}
nav ul.slide{
    transform: translateX(0);
}

footer {
    background-color: whitesmoke;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    margin: 0;
    color: #0f3047;
    font-style: italic;
    font-weight: 800;
    text-align: center;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

div span {
    font-size: 10vw;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}

div span:not(:first-child) {
    margin-left: -0.23em;
}